<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/cattery_front_head"></div>
    <link rel="stylesheet" th:href="@{/cattery_css/pages.css}"/>
</head>

<body>
<div>
    <nav th:replace="${@userService.getLoggedUser()} ? 'fragments/cattery_logged_in_navbar' : 'fragments/cattery_navbar'"></nav>
</div>


<div class="col-md-8 col-sm-11 col-xs-11 mb-2 ml-5 p-4 text-left">
    <h1 class="text-uppercase text-secondary">APPLICATION PRESENTATION</h1>
</div>
<h3 class="text-uppercase text-secondary text-center pt-3">THE WEBSITE WITH THE ADMINISTRATION PANEL FOR THE MAINE COON CATTERY</h3>
<form class="bg-white p-1 ml-5 border-top col-md-11 col-sm-11 col-xs-11  text-justify" style="text-indent: 8%;">
    <a> My application is used in Maine Coon cattery in Silesia in Poland. It contains two parts - the website and the
        administration panel.<br>
        The website containing photos and information on running cattery and the animals helps future customers choose
        the right cattery and buy some animal. In addiction in this part you can find the location and the contact information and what's more
        you can use the contact form to contact with the cattery.<br>
        There is also administration panel for the breeder  which helps them change some information on the website and check the
        messages sent by contact form. This panel has got also more tools. Firstly it contains the animal records, where the breeder can
        save a lot of important information about all animals and births. Secondly you can find there some customer and purchase records.<br>
        For more details, see the rest of the presentation.
    </a>
    <br>
    <h3 class="text-uppercase text-secondary text-center pt-3">THE WEBSITE PART</h3>
    <br>
    <h5 class="text-uppercase text-secondary text-center pt-3">CHANGING NAVBAR</h5>
    <div class="form-row text-center">
        <div class="col-md-1 "></div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/main_page.jpg" alt="main.page"  class="photo-two-in-line"></a>
            </figure>
        </div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/main_page_scroll.png" alt="main.page.scroll" class="photo-two-in-line"></a>
            </figure>
        </div>
    </div>
    <div class="form-row text-center">
        <div class="col-md-3"></div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/main_page_little.png" alt="main.page.little"  class="photo-two-in-line"></a>
            </figure>
        </div>
    </div>
    <br>
    <h5 class="text-uppercase text-secondary text-center pt-3">BIRTHS AND CATTERY ANIMALS PAGES</h5>
    <a> The content can be set by the breeder from the panel admin.</a>
    <div class="form-row text-center">
        <div class="col-md-1 "></div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/births.png" alt="births"  class="photo-two-in-line"></a>
            </figure>
        </div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/birth_details.png" alt="birth.details" class="photo-two-in-line"></a>
            </figure>
        </div>
    </div>
    <div class="form-row text-center">
        <div class="col-md-1 "></div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/our_cats.png" alt="our.cats"  class="photo-two-in-line"></a>
            </figure>
        </div>
        <div class="col-sm-10 col-md-5 col-xs-10 p-3">
            <figure>
                <img src="/img/presentation/our_cats_2.png" alt="our.cats" class="photo-two-in-line"></a>
            </figure>
        </div>
    </div>



</form>
<!--<div class="form-row text-center">-->
<!--    <div class="col-md-1"></div>-->
<!--    <div class="col-sm-10 col-md-10 col-xs-10">-->
<!--        <figure>-->
<!--            <img src="/img/cattery/cattery_group_1.jpg" alt="cattery.group" style="width: 60%; height: auto;"></a>-->
<!--        </figure>-->
<!--    </div>-->
<!--</div>-->

<footer th:replace="fragments/cattery_footer"></footer>

</main>
</body>
</html>