<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/cattery_front_head"></div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v12.0"
            nonce="1G4AccqB"></script>

    <link rel="stylesheet" th:href="@{/cattery_css/pages.css}"/>
</head>

<body>
<div>
    <nav th:replace="${@userService.getLoggedUser()} ? 'fragments/cattery_logged_in_navbar' : 'fragments/cattery_navbar'"></nav>
</div>


<div class="col-md-8 col-sm-11 col-xs-11 mb-2 ml-5 p-4 text-left">
    <h1 class="text-uppercase text-secondary">OPINIE</h1>
</div>
<form class="bg-white p-1 ml-5 border-top col-md-11 col-sm-11 col-xs-11">
    <div class="p-3 ml-1 row justify-content-center">
        <div class="col-11 col-md-6">
            <br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D5070347956313889%26id%3D100000162050801&show_text=true&width=500"
                    width="" height="712" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br><br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkindzia961610%2Fposts%2F3904205019614977&show_text=true&width=500"
                    width="" height="458" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br><br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMikus1990%2Fposts%2F3733940553334393&show_text=true&width=500"
                    width="" height="773" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="col-11 col-md-6">
            <br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftomek.kolodziejczyk.7%2Fposts%2F4581364205233913&show_text=true&width=500"
                    width="" height="193" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br><br>

            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnatalia.krupa.144%2Fposts%2F5798507973556536&show_text=true&width=500"
                    width="" height="713" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br><br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkamila.ostrowska.3994%2Fposts%2F1903086733182619&show_text=true&width=500"
                    width="" height="207" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br><br>
            <iframe class="frame container-fluid"
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonika.ostrowska.338%2Fposts%2F3257634417676254&show_text=true&width=500"
                    width="" height="227" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            <br>
        </div>
    </div>
</form>

<footer th:replace="fragments/cattery_footer"></footer>

</main>
</body>
</html>