<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/cattery_front_head"></div>
    <link rel="stylesheet" th:href="@{/cattery_css/pages.css}"/>
    <script th:src="@{/js/cattery_js/our_animals.js}"></script>
</head>

<body>
<div>
    <nav th:replace="${@userService.getLoggedUser()} ? 'fragments/cattery_logged_in_navbar' : 'fragments/cattery_navbar'"></nav>
</div>


<div class="col-md-8 col-sm-11 col-xs-11 mb-2 ml-5 p-4 text-left">
    <h1 class="text-uppercase text-secondary">NASZE KOTY</h1>
</div>
<form class="bg-white p-1 border-top col-md-11 col-sm-11 col-xs-11 text-justify" style="text-indent: 8%;">
    <h3 class="text-uppercase text-secondary text-center pt-3">
        KOCURY
    </h3>

    <div id="records_animals_man">
    </div>

    <h3 class="text-uppercase text-secondary text-center pt-3">
        KOTKI
    </h3>

</form>


<footer th:replace="fragments/cattery_footer"></footer>

</main>
</body>
</html>