<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/cattery_css/admin.css}"/>
    <div th:replace="fragments/cattery_head"></div>
    <script th:src="@{/libs/sha.js}"></script>
    <script th:src="@{/js/cattery_js/transactions_admin.js}"></script>
    <script th:inline="javascript">
        var transactionStatusDict = [[${transactionStatusDict}]];

    </script>

</head>

<body>
<nav th:replace="fragments/menu :: menu"></nav>
<div>
    <h5 class="text-light text-uppercase text-center" th:text="#{sale}"></h5>
</div>
<div class="text-center">
    <button type="button" class="btn btn-success btn-xl" data-toggle="modal" data-target="#create-modal"
            th:text="#{Create}"></button>
</div>


<form id="filter" class="table-filter text-light border m-0 p-0 my-3">
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{transaction.customer.first.name}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input type="text" id="first-name-filter" class="form-control"/>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{transaction.customer.last.name}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input type="text" id="last-name-filter" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{transaction.animal.name}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input type="text" id="name-filter" class="form-control"/>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{transaction.animal.lineage.name}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input type="text" id="lineage-name-filter" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{sale.status.animal}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="sale-status-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="status : ${saleStatusDict}"
                            th:value="${status.code}"
                            th:text="${status.value}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{transaction.status}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="transaction-status-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="status : ${transactionStatusDict}"
                            th:value="${status.code}"
                            th:text="${status.value}">
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table text-light table-bordered table-hover table-sm mb-0 pb-0">
            <thead class="text-light">
            <tr class="text-light table-header">
                <th class="align-middle" th:text="#{transaction.customer.first.name}"></th>
                <th class="align-middle" th:text="#{transaction.customer.last.name}"></th>
                <th class="align-middle" th:text="#{transaction.animal.name}"></th>
                <th class="align-middle" th:text="#{transaction.animal.lineage.name}"></th>
                <th class="align-middle" th:text="#{transaction.status}"></th>
                <th class="align-middle" th:text="#{details}"></th>
<!--                <th class="align-middle" th:text="#{Delete}"></th>-->
            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-grey text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Szczegóły</h5>
                <button type="button" class="close text-right text-white" style="position:absolute; top:0; right:0;"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
           <div class="modal-body">
               <div class="form-group form-row">
                   <input id="id" type="text" hidden>
               </div>
                <form class="text-center">
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="customer-details" th:text="#{customer}" class="required"></label>
                            <select id="customer-details" class="form-control">
                            </select>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="animal-details" th:text="#{animal}" class="required"></label>
                            <select id="animal-details" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="reservation-date-details" th:text="#{transaction.reservation.date}"></label>
                            <input id="reservation-date-details" type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="reservation-price-details" th:text="#{transaction.reservation.price}"></label>
                            <input id="reservation-price-details" type="number" class="form-control" step="10"
                                   max="10000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="final-date-details" th:text="#{transaction.final.date}"></label>
                            <input id="final-date-details" type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="final-price-details" th:text="#{transaction.sale.total.price}"></label>
                            <input id="final-price-details" type="number" class="form-control" step="10" max="10000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="transaction-status-details" th:text="#{transaction.status}"></label>
                            <select id="transaction-status-details" class="form-control" disabled>
                                <option th:each="status : ${transactionStatusDict}"
                                        th:value="${status.code}"
                                        th:text="${status.value}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="note-create" th:text="#{note}"></label>
                            <div class="align-middle">
                            <textarea id="note-details" type="text" class="form-control" rows="3" value="">
                            </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="update-button" class="btn btn-success"
                                onclick="sendUpdateRequest('update')"
                                th:text="#{Save.changes}"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-button"
                                onclick="sendUpdateRequest('cancel')"
                                th:text="#{transaction.cancel}"></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-grey text-light">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="modalLabel" th:text="#{Create}"></h5>
                <button type="button" class="close text-right text-light" style="position:absolute; top:0; right:0;"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
            <div class="modal-body">
                <form class="text-center">
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="customer-create" th:text="#{customer}" class="required"></label>
                            <select id="customer-create" class="form-control">
                            </select>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="animal-create" th:text="#{animal}" class="required"></label>
                            <select id="animal-create" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="reservation-date-create" th:text="#{transaction.reservation.date}"></label>
                            <input id="reservation-date-create" type="date" class="form-control" value="">
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="reservation-price-create" th:text="#{transaction.reservation.price}"></label>
                            <input id="reservation-price-create" type="number" class="form-control" step="10"
                                   max="10000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="final-date-create" th:text="#{transaction.final.date}"></label>
                            <input id="final-date-create" type="date" class="form-control" value="">
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="final-price-create" th:text="#{transaction.sale.total.price}"></label>
                            <input id="final-price-create" type="number" class="form-control" step="10" max="10000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="transaction-status-create" th:text="#{transaction.status}"></label>
                            <select id="transaction-status-create" class="form-control" disabled>
                                <option th:each="status : ${transactionStatusDict}"
                                        th:value="${status.code}"
                                        th:text="${status.value}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label for="note-create" th:text="#{note}"></label>
                            <div class="align-middle">
                            <textarea id="note-create" type="text" class="form-control" rows="3" value="">
                            </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="create-button" class="btn btn-success" onclick="sendCreateRequest()"
                                th:text="#{Create}"></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:text="#{Cancel}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/pagination :: pagination"></div>
<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/delete-object-modal :: modal"></div>
<div th:replace="fragments/cattery_invalid_data_modal :: modal"></div>

</body>

</html>