<footer class="page-footer font-small pt-1 mt-1 shadow-sm footer my-5">

    <div class="container-fluid text-center text-md-left">

        <div class="row">


            <div class="col-md-4 my-2 text-center">
                <span><i class="fas fa-cat"></i> KOCIEŁAPKI*PL</span><br>
                <br>
                <span> <i class="fas fa-map-marker-alt"></i> Łukowa 85, 43-210 Kobiór</span><br>
                <br>
                <span><i class="fas fa-mobile-alt"></i> 695 086 320</span><br>
            </div>

            <div class="col-md-4 my-2 text-center">
                <ul class="list-unstyled">
                    <li>
                        <a href="/polityka_prywatnosci">Polityka prywatności</a><br>
                    </li>
                    <li>
                        <a href="/rodo">RODO</a><br>
                    </li>
                    <li>
                        <a href="/regulamin">Regulamin</a><br>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 my-2 text-center">

                <ul class="list-unstyled">
                    <li>
                        <i class="fab fa-facebook" style="color: #3b5998;"></i> <a
                            href="https://www.facebook.com/Hodowla-Kot%C3%B3w-Maine-Coon-Kocie%C5%82apkiPL-111891824050249/"
                            target="_blank">Facebook</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-4 my-2 text-center">


            </div>


        </div>


    </div>
</footer>