<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Marzena Szafron">

<link rel="shortcut icon" type="image/x-icon" th:href="${@applicationConfig.getFaviconPath()}" />

<link rel="stylesheet" th:href="@{/cattery_css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/fonts/fonts.css}" />
<link rel="stylesheet" th:href="@{/cattery_css/navbar.css}"/>
<link rel="stylesheet" th:href="@{/cattery_css/footer.css}"/>


<script src="https://kit.fontawesome.com/c5d5824445.js" crossorigin="anonymous"></script>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" />-->
<!--<link rel="stylesheet" th:href="@{/css/front-index.css}" />-->
<!--<meta th:if="${!#arrays.contains(@environment.getActiveProfiles(),'prod')}" name="robots" content="noindex">-->
<script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
<script th:src="@{/libs/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/cattery_js/index.js}"></script>
<script th:src="@{/libs/fontawesome/all.min.js}"></script>
<script th:src="@{/js/cattery_js/navbar.js}"></script>


<!--<script th:src="@{/js/index.js}"></script>-->
<!--<script th:src="@{/js/navbar-notifications.js}"></script>-->

<div class="modal fade" id="cookie-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 0rem;max-width: 100%;">
        <div class="modal-content" style="border-radius: 0rem;">
            <div class="modal-body">
                <div class="notice d-flex justify-content-between align-items-center">
                    <div class="cookie-text" th:text="#{cookie.modal.content}"></div>
                    <div class="buttons d-flex flex-column flex-lg-row">
                        <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal" th:text="#{cookie.modal.accept}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
