<nav class="navbar navbar-expand-xl navbar-light" xmlns:th="http://www.thymeleaf.org">

    <a class="navbar-brand d-flex align-items-center" href="/">
<!--        <a class="navbar-brand" href="/">-->
            <img th:src="${@applicationConfig.getLogoFrontPath()}" width="381"height="76" class="d-inline-block mr-1 align-bottom" alt="Cattery Logo">
<!--        </a>-->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/start"> START </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/o_hodowli"> O HODOWLI </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/kocieta"> KOCIĘTA </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/nasze_koty"> NASZE KOTY </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/opieka"> OPIEKA NAD KOTAMI </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/opinie">OPINIE</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/kontakt"> KONTAKT </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/contact-form" th:text="#{navbar.user}"></a></li>
            <span class="border"></span>
            <li class="nav-item">
                <a class="nav-link" href="/perform/logout">
                    <span><i class="fas fa-sign-out-alt"></i></span>
                    <span th:text="#{navbar.logout}"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sm-icons">
            <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/Hodowla-Kot%C3%B3w-Maine-Coon-Kocie%C5%82apkiPL-111891824050249/">
                <i class="fab fa-facebook-square icon"></i></a>
            </li>
        </ul>
    </div>
</nav>