<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Marzena Szafron">


<link rel="stylesheet" th:href="@{/cattery_css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/fonts/fonts.css}" />
<link rel="stylesheet" th:href="@{/cattery_css/admin.css}" />

<script th:src="@{/libs/jquery-3.4.1.js}"></script>
<script th:src="@{/js/cattery_js/index.js}"></script>
<script th:src="@{/libs/bootstrap.bundle.js}"></script>
<script th:replace="fragments/languages-script-admin"></script>


<link rel="shortcut icon" type="image/x-icon" th:href="${@applicationConfig.getFaviconPath()}" />

<script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
<script th:src="@{/libs/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/fontawesome/all.min.js}"></script>
<script th:src="@{/js/cattery_js/navbar.js}"></script>

