<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="modal" class="modal"
         th:id="'operation-failed-modal'">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-yellow p-2">
                <div class="modal-body w-100">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p> </p>
                    <p class="font-weight-bold text-center" id="operation_error_message"></p>
                    <p class="text-center">

                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>