<html xmlns:th="http://www.thymeleaf.org">

<body>
    <form id="filter"></form>

        <div th:fragment="pagination" class="clearfix">
            <div class="float-left text-light">
                <p><span th:text="#{pagination.records}"></span>
                    <select name="page_size" id="page_size" form="filter">
                        <option value="10" th:selected="${selectedPageSize == 10}">10</option>
                        <option value="20" th:selected="${selectedPageSize == 20}">20</option>
                        <option value="100" th:selected="${selectedPageSize == 100}">100</option>
                    </select>
                </p>
            </div>

            <div class="page-container float-right input-group input-group-sm">
                <a href="#" id="prev-page"
                   class="input-group-prepend text-reset">
                    <span class="input-group-text">&#8249;</span>
                </a>
                <input class="form-control" name="page" id="page"
                       form="filter" value="1" th:value="${selectedPage ?: 1}" >
                <a href="#" id="next-page"
                   class="input-group-append text-reset">
                    <span class="input-group-text">&#8250;</span>
                </a>
            </div>
        </div>

    </div>

</body>
</html>
