
body {
    padding-top: 120px;
}


.required:after {
    content:" *";
    color: red;
}

.photo-two-in-line {
width: 90%;
height: auto;
}

.photo-two-in-line-bigger {
width: 100%;
height: auto;
}


.frame {
    display: block;
}

@media (max-width: 1250px)
.frame {
      display: flex;
      flex-wrap: wrap;
}

ul {
    text-align: left;
    list-style-position: inside;
}







